import * as qs from 'query-string';

export function joinQuery(data{{ ": { [x: string]: any }" if genType === "ts" }}){{ ": string" if genType === "ts" }} {
  const s = qs.stringify(data, { arrayFormat: 'bracket' });
  return s ? '?' + s : s;
}

{% if genType === "ts" %}
export interface RequestProps {
  method?: 'get' | 'post' | 'put' | 'delete';
  url: string;
  data?: any;
}
{% endif %}

export default class Base {
  {{ "protected" if genType === "ts" }}async request(props{{ ": RequestProps" if genType === "ts" }}) {
    let url = props.url;
    const fetchOpt{{ ": Request" if genType === "ts" }} = {
      url,
      method: props.method,
      headers: {
        'accept': 'application/json',
        'Content-Type': 'application/json',
      },
    };

    if (props.data) {
      if (props.method === 'get' || props.method === 'delete') {
        url += joinQuery(props.data);
      } else {
        fetchOpt.body = JSON.stringify(props.data);
      }
    }
    
    return fetch(url, fetchOpt)
      .then((res) => {
        const data = await res.json();
        if (res.status === 401) {
          // TODO
        } else if (!`${res.status}`.startsWith('2')) {
          throw new Error(data.message);
        }
        return data;
      }).catch((err) => {
        // message.warn(err.message, 2000);
      });
  }
}
